# Port number
PORT=7227

#App base url
BASE_URL=http://localhost:7227

#Dev Status
NODE_ENV=production

# URL of the Mongo DB
DB_URL=mongodb+srv://<user>:<password>@cluster0.qxwkayv.mongodb.net/?retryWrites=true&w=majority

thumbnails_path = http://localhost:7227/filler/pictures/
movies_path = rr






# JWT
# JWT secret key
JWT_SECRET=Smartbizmovies2022
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=10
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=username@gmail.com
SMTP_PASSWORD=password@Temp
EMAIL_FROM="Movie Smart"

#trebble configuration
TREBLLE_API_KEY=iFjmkA4w7i5433DXS5kfhNihD6LDDgYd
TREBLLE_PROJECT_ID=WeW1O0Y2ILndn0p1






# DBHOST="localhost"
# DBUSERNAME="root"
# DBPASSWORD=""
# DBNAME="setterApp"
# DBPORT=3306
# PORT=5055